.container {
  height: 30vh;
  background-color: rgb(206, 194, 172);
}

.form {
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.button {
  margin-top: 1vh;
}
